
html,body {
    background:#000;
    overflow:hidden;
    min-width:100%;
    padding:0;
    margin:0;
}

        #video-player {
            width: 100%;
            height: 100%;
            border: none;
position:absolute;
            
        }


.follow{
  position:fixed;
  right:90px;
  top:50px;
}
.follow img {
    width: 90px;
    height: 90px;


}

        #marquee {
            font-size: 20px;
            font-weight: bold;
            
      
        position: fixed;
        overflow: hidden;
        margin: 0;
        
        
        top: 0;
        left: 0;
        right: 0;
        background-color: #4169e1;
        color: #ffffff;
      }
    
  .swiper-container {
      
   bottom :0px;
    width: 100%;
    height: 70px;
   overflow: hidden;
    position: fixed;
  }
  .swiper-slide img {
    width: 100%;
    height: 70px;
    
  }
  
.tv-container #clock {
font-size:25px;
font-family: Montserrat, sans-serif;
 font-weight: bold;

  background: red;
  color: #fFF;
  width: 140px;
  height: 35px;
  
  position:fixed;
  right:0px;
  top:0px;

}
  

.tv-container1 .follow5 img {
  width: 70px;
  height: 35px;
position:fixed;
  left:0px;
  top:0px;
  
}

    
    













































